<div *ngIf="loading"><h2>Loading...</h2></div>
<div>
  <div>
    <form name="circuitForm">
      <label>Select circuit</label><br>
      <select class="select-css" (change)="selectChangeHandler($event);">
        <option value="" selected disabled hidden>Select</option>
        <option *ngFor="let circuit of circuits">{{circuit.circuitId}}</option>
      </select>
    </form>
  </div>
<ng-container *ngIf="!loading">
  <h4>Circuit info</h4>
  {{circuit.circuitName}}<br/>
  {{circuit.Location.locality}}<br/>
  {{circuit.Location.country}}<br/>

  <h4>Last Podium</h4>
  <li *ngFor="let driver of podium">
    {{driver.driverId}}
  </li>
  <app-static-podium></app-static-podium>


  <h4>drivers - number of victories</h4>
  <app-table [data]="drivers"></app-table>

  <h4>constructors - number of victories</h4>
  <app-table [data]="constructors"></app-table>

</ng-container>
</div>

