mat-sidenav-container{
  height: 100%;
  overflow: visible;
}

mat-sidenav{
  padding: 10px;
  background: lightgray;
  width: 20%;
}

mat-toolbar{
  background: #e10600;
  color: white;
}

mat-sidenav-content{
  padding: 25px;
  border-bottom: 25px;
}

.mat-drawer-content{
  overflow: visible;
}

