<div>
  <!--<svg width="800" height="110">
    <rect width="70" height="100" style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
    <rect width="70" height="70" style="fill:rgb(0,255,0);stroke-width:3;stroke:rgb(0,0,0)" />
    <rect width="70" height="40" style="fill:rgb(255,0,0);stroke-width:3;stroke:rgb(0,0,0)" />

  </svg>-->
<!--  <div style="width:70px;height:100px;border:1px solid #000;"></div>
  <div style="width:70px;height:150px;border:1px solid #000;"></div>
  <div style="width:70px;height:60px;border:1px solid #000;"></div>-->
</div>

